HERMES_DOMAIN={{DUCKDNS_HOSTNAME}}
MATRIX_SERVER={{MATRIX_SERVER}}
MATRIX_IMAGE={{MATRIX_IMAGE}}
MATRIX_SERVER_NAME={{DUCKDNS_HOSTNAME}}
MATRIX_ALLOW_REGISTRATION=false
MATRIX_ALLOW_FEDERATION=false
MATRIX_MAX_UPLOAD_SIZE=25M
OLLAMA_BASE_URL=http://ollama:11434
HERMES_LOCAL_MODEL={{MODEL}}
HERMES_OPENAI_ENABLED={{OPENAI_ENABLED}}
HERMES_NTFY_ENABLED={{NTFY_ENABLED}}
HERMES_BRIDGE_E2EE_CONFIRMED=false
